*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  width: 1000px;
  height: 700px;
  min-height: 400px;
  padding: 30px;
  background-color: #1c1c1c;
  border: 2px solid rgb(0, 98, 255);
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

.container::-webkit-scrollbar {
    width: 6px;
  }
  
  .container::-webkit-scrollbar-track {
    background: #1c1c1c; /* Cor do fundo da barra de rolagem */
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: rgb(0, 98, 255); /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    border: 1px solid #1c1c1c; /* Remover o fundo branco */
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Cor do polegar da barra de rolagem quando em hover */
  }

h1,h2 {
  color: #eee;
  text-align: center;
  margin-bottom: 36px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.session-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 2px solid rgb(0, 98, 255);
  border-radius: 30px;
  color: #eee;
  font-size: 16px;
  margin-right: 10px;
}

.session-input::placeholder {
  color: #ffffff;
}


.loading-message, .success-message, .error-message {
  text-align: center;
  color: #eee;
  margin-top: 20px;
}

.success-message {
  color: #00ff88a1;
}

.error-message {
  color: #ff0000;
}

.create-sessions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/sessionsbg.jpg);
  background-size: cover;
}
